[SERVICE]
    Flush      1
    Daemon     off
    Log_Level  info

[INPUT]
    Name     tail
    Path     my.log
    Path_Key On
    Parser   apache

[FILTER]
    Name    modify
    Match   *
    Add     MyImportantParameterOnAHost 42

[OUTPUT]
    Name          es
    Match         *
    Host          <ADD YOUR IP HERE>
    Port          9200
    Trace_Output  On
    Index         my-access-logs

